<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--
      <add key="IsAtty" value="true" />
      <add key="TimeZoneId" value="Central Standard Time" />
      <add key="OutputEncoding" value="utf-8" />
      <add key="AnsiTerminalEmulation" value="false" />
      <add key="DefaultPager" value="" />
      -->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>